    <div class="col-md-4">
      <img src="{{image}}" class="card-img" alt="fishing image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">{{description}}</p>
        <p class="card-text">Location:{{tripLocation}}</p>
        <p class="card-text">Date:{{tripDate}}</p>
        <p class="card-text">Boat:{{boat}}</p>
        <p class="card-text">People:{{numPeople}}</p>
        <p class="card-text">Cost:{{tripCost}}</p>
      </div>
    </div>
  </div>
</div>