<div class="container">
<div class="card tripBlock">
  <div class="row no-gutters">
    <div data-id="{{this.id}}" class="col-md-4">
      <img src="{{this.image}}" class="card-img" alt="fishing image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text gray">{{this.description}}
        <br><b>Location:</b> {{this.tripLocation}}
        <br><b>Date:</b> {{this.tripDate}}
        <br><b>Boat:</b> {{this.boat}}
        <br><b>People:</b> {{this.numPeople}}
        <br><b>Cost:</b> {{this.tripCost}}</p>
        <button type="submit" class="btn btn-primary" id="submit">Go Fishing</button>
        <button data-tripid="{{this.id}}" type="delete" class="btn btn-danger delplan">Cancel Trip</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
